body {
  font-family: Arial;
}

.calculate-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
}

.cost-input {
  font-size: 15px;
  padding: 10px;
}

.error-message {
  color: red;
}