body {
  background-color: black;
  font-family: Arial;
}

.calculator-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}

.calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.clear-button {
  font-size: 17px;
}